.div_1 h1 {
  color: blue;
}
.div_1 {
  height: 630px;
  width: 710px;
  margin-bottom: 50px;
  background-color:rgba(31, 92, 197, 0.2);
  outline: 2px solid rgba(31, 92, 197);
  box-shadow: 3px 3px 2px 1px rgb(229, 227, 242),-3px -3px 2px 1px rgb(233, 228, 228);
  padding-top: 0px;
  margin-top: 40px;
  border-radius: 10px;
}
body {
  padding-top: 20px;
  background-image: url(earth.jpg);
  background-size: 200% 210%;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}
.div_2 {
  text-align: left;
  height: 400px;
  width: 260px;
  float: left;
  margin-right: 10px;
  padding-left: 35px;
  margin-top: 35px;
  padding-top: 105px;
  color: bisque;
}
.div_2_list {
  text-align: left;

  width: 200px;
  height: 150px;
  line-height: 28px;
  font-weight: 1000;
}
.div_2 h3 {
  font-family: Arvo;
  background-color: blue;
  width: 120px;
  height: 24px;
  color: aliceblue;
  text-align: center;
  border-radius: 30px;
  padding-bottom: 0px;
  box-shadow:0px 0px 2px 2px rgb(193, 193, 202);
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: medium;
}
hr {
  color: transparent;
}
.div_3 {
  text-align: center;
  height: 500px;
  width: 600px;
  margin-right: 0px;
  margin-left: 80px;
  padding-left: 200px;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 20px;
  align-items: center;
  margin-bottom: 10px;
  color: bisque;
}
.div_3 img {
  border: 2px solid black;
  border-radius: 100px;
  border-image-width: 100px;
  margin-left: 15px;
  margin-top: 0px;
}
footer {
  height: 90px;
}
footer h3 {
  margin-top: 0px;
  margin-bottom: 12px;
}
.div_3 p {
  line-height: 50px;
  width: 100%;
  text-align: initial;
  margin-block-start: 0px;
  scroll-margin-block-end: 0px;
  font-family: Oswald;
  margin-bottom: 0px;
  font-size: larger;
}
.div_2 h1 {
  margin-bottom: 8px;
  margin-top: 30px;
}
.div_2_h2{
  width: 200px;
  height: 24px;
}
.div_3 h3 {
  font-family: Arvo;
  background-color: blue;
  width: 190px;
  height: 24px;
  color: aliceblue;
  text-align: center;
  border-radius: 30px;
  padding-bottom: 0px;
  box-shadow: 0px 0px 2px 2px rgb(193, 193, 202);
  margin-bottom: 10px;
  margin-top: 20px;
  padding-left: 0px;
  margin-left: 10px;
  text-align: center;
  padding-right: 10px;
}
footer h3{
  color: rgb(245, 240, 106);
  margin-bottom: 0px;
  text-align: center;
  background-color: rgb(240, 11, 152);
  box-shadow: 2px 2px 3px 2px rgb(236, 10, 175);
  outline-width: 2px;
  outline-color: rgb(236, 11, 173);
  width: 110px;
  padding-left: 2px;
  border-radius: 5px;
}
footer a{
  text-decoration: none;
  font-size: 18px;
  color: rgb(252, 252, 122);
}
footer a:hover{
  color: black;
}
footer p{
  margin-top: 25px;
  text-align: center;
}
